img {
    border-radius: 50%;
}

.center-box {
    display: flex;
    justify-content: center;
}

body {
    background-color:darkolivegreen;
}

.myname {
    color:black;
    text-align: center;
    font-size:3rem;
    font-family:sans-serif;
}

h3 {
    color:black
    font-size:1rem;
    font-family:sans-serif;
}

p{
    color:aliceblue;
    font: size 1.5rem;
    font-family:sans-serif;
}

.s{
    display: flex;
    justify-content: space-around;
}